#accounts{
    border: 1px solid red;
    width: 20%;
    float: left;
}

#account-form{
    border: 1px solid green;
    margin-left: 30px;
    width: 75%;
    float: left;
}

.clear{
	clear: both;
}

.validation-error{
	font-weight: bold;
	color: red;
}

.error-message{
	font-weight: bold;
	color: #922B21;
	border: 1px solid #EDBB99;
	text-align: center;
	background-color: #E6B0AA;
}

.info-message{
	font-weight: bold;
	color: #EAFAF1;
	border: 1px solid #58D68D;
	text-align: center;	
	background-color: #239B56;
}