#accounts{
    border: 1px solid red;
    width: 20%;
    float: left;
}

#account-form{
    border: 1px solid green;
    margin-left: 30px;
    width: 75%;
    float: left;
}

.clear{
	clear: both;
}

.validation-error{
	font-weight: bold;
	color: red;
}

.error-message{
	font-weight: bold;
	color: red;
	border: 1px solid orange;
	text-align: center;	
}