<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<a th:href="@{/currencies/}" title="click for currencies management">currencies management</a>
<h3>Accounts list</h3>
<div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
<div class="info-message" th:if="${infoMessage != null}" th:text="${infoMessage}"></div>
<div class="space"></div>
<div id="accounts">
    <table width="100%">
        <tr>
            <th>name</th>
            <th>currency</th>
            <th>balance</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr th:each="account: ${accounts}">
            <td align="left" th:text="${account.name}"></td>
            <td align="left" th:text="${account.currency.name}"></td>
            <td align="right" th:text="${account.balanceCurrent}"></td>
            <td align="center"><a title="click here to edit" th:href="'/accounts/edit/' + ${account.id}">edit</a></td>
            <td align="center"><a title="click here to delete" th:href="'/account/delete/' + ${account.id}"
                   onclick="return confirm('Are you sure?'); ">delete</a></td>
        </tr>
    </table>
</div>
<div id="account-form">
    <form method="post" th:object="${account}" th:action="@{/accounts}">
        <table>
            <tr>
                <td>name:</td>
                <td>
                    <input type="hidden" th:field="*{id}" />
                    <input type="text" th:field="*{name}" />
                    <span class="validation-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </td>
            </tr>
            <tr>
                <td>balance (initial):</td>
                <td>
                    <input type="text" th:field="*{balanceInitial}" />
                    <span class="validation-error"
                          th:if="${#fields.hasErrors('balanceInitial')}"
                          th:errors="*{balanceInitial}"></span>
                </td>
            </tr>
            <tr>
                <td>balance (current):</td>
                <td>
                    <input type="text" th:field="*{balanceCurrent}" disabled="true" />
                </td>
            </tr>
            <tr>
                <td>currency:</td>
                <td>
                    <select th:field="*{currency}">
                        <option th:each="currency: ${currencies}"
                                th:value="${currency.id}"
                                th:text="${currency.name} + ' (' + ${currency.code} + ')'"></option>
                    </select>
                    <span class="validation-error"
                          th:if="${#fields.hasErrors('currency')}"
                          th:errors="*{currency}"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="clear"></div>
</body>
</html>